h1 {
  text-align: center;
}

/*container for table and canvas*/
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

/*sets the table border*/
table {
    border-collapse: collapse;
    border-style: hidden;
}

/*set the line styling on the table*/
td {
    cursor: pointer;
    border: 4px solid blueviolet;
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast();
}

/*position the canvas in the top left of container*/
canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}